{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}

        {% endblock titulo %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!-- Navbar -->
    <header>
        <div>
            <nav>
                <ul class="navbar">
                    <li><a href="{% url 'noticias' %}"><img class="logo" src="{% static 'img/blog-de-internet.png' %}"
                                alt=""></a>
                    </li>

                    <li> <a href="{% url 'noticias' %}">Noticias</a> </li>





                    <li> <a href="{% url 'about' %}">Sobre nosotros</a> </li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'perfil' user.id %}">
                        <li> {{user.username}} {% if usuarios.icono != Null %}<img src="{{user.icono.url}}" alt=""
                                width="50px">
                            {% endif %}
                        </li>
                    </a>
                    <form action="{% url 'logout' %}" method="post">
                        {%csrf_token%}

                        <button type="sumit">Cerrar sesión</button>
                    </form>
                    {% else %}
                    <li> <a href="{% url 'registro' %}">Registro</a> </li>
                    <li> <a href="{% url 'login' %}">Inicio de sesión</a> </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <hr>

    <!-- Section -->
    {% block contenido %}


    {% endblock contenido %}
    <!-- footer -->

    <hr>
    <footer>
        <div>
            <ul>
                <li><img src="ig.ico" alt=""> Instagram</li>
                <li><img src="ig.ico" alt="">Instagram</li>
                <li><img src="ig.ico" alt="">Instagram</li>
            </ul>
        </div>
    </footer>
</body>

</html>