{% extends 'base.html' %}

{% block titulo %} Noticias {% endblock titulo %}
{% block contenido %}

<section>
    {% if user.is_authenticated %}
    <a href="{% url 'nuevo_post' %}"><button>Nuevo Post</button></a>
    <hr>
    {% endif %}
</section>


<h1>Noticias</h1>

{% for noticia in noticias %}
<h2>{{ noticia.titulo }}</h2>
<img src="{{ noticia.imagen.url }}" style="height: 200px;">
<p>{{ noticia.contenido | truncatechars:45}} <a href="{% url 'detalle' noticia.id %}">ver más...</a></p>
<p>{{ noticia.fecha_publicacion }}</p>
{% if user.id == noticia.autor_id %}
<a href="{% url 'eliminar_post' noticia.pk %}"><button type="submit">Eliminar</button></a>
{%endif%}
<hr>
{% endfor %}

{% endblock contenido %}